h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* header */

.header {
	background-color: #FFFFFF;
}

.header-list {
	display: flex;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav {
	display: flex;
	align-items: center;
}

.logo {
	text-decoration: none;
	font-family:'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.5;
	color:#000000;
	margin-right: 236px;
}

.span-web {
	color: #939393
}

.header-link {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #263238;
	
}

.header-list-item:not(:last-child) {
	margin-right: 50px;
}

/* Hero */

.hero {
	padding-top: 0;
}

.container-hero {
	display: flex;
}
.hero-leftside {
	flex-direction: column;
	width: 50%;
}

.hero-title {
	width: 386px;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 64px;
	line-height: 1.25;
	color: #000000;
}

.hero-subtitle {
	margin-bottom: 60px;
    width: 540px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #8f95a5;

}

.hero-btn {}

